body {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.main-heading {
  font-size: 30px;
}

.secondary-heading {
  font-size: 14px;
}
